@model WebData.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLogin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanXet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanXet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguonBct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguonBct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtthuTin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtthuTin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
