@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebData.Models.Post>

@{
    ViewData["Title"] = "Hệ thống quản lý tin đăng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Posts" asp-action="Index">Quản Lý Tin Đăng</a></li>
    </ol>
    <h6 class="slim-pagetitle">QUẢN LÝ TIN Đăng</h6>
</div><!-- slim-pageheader -->
<a asp-action="Create" class="btn btn-primary">Thêm mới</a>
<div class="section-wrapper">
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>Số BCT</th>
                    <th>NỘI DUNG</th>
                    <th>NGÀY TẠO</th>
                    <th>NGUỒN</th>
                    <th>NGƯỜI SOẠN THẢO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoBct)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => item.CreateAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NguonBct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-primary">Sửa</a>
                                <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Xoá</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div><!-- table-responsive -->
    <div aria-label="Page navigation example">
        <ui class="pagination">
            <pager class="page-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Posts" asp-route-CatId="@ViewBag.CurrentCat" asp-action="Index"/>
        </ui>
    </div>
</div><!-- section-wrapper -->
